/* ExamResult.css */

.exam-result {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .exam-result h1 {
    margin-top: 0;
    color: #333;
    font-weight: bold;
    font-size: 24px;
  }
  
  .marksheet {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .student-info {
    margin-bottom: 10px;
  }
  
  .student-info p {
    margin-bottom: 5px;
  }
  
  .student-info strong {
    font-weight: bold;
    color: #666;
  }
  
  .marks-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .marks-table th,.marks-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .marks-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
  }
  
  .marks-table td {
    font-size: 16px;
    color: #666;
  }
  
  /* Responsive design for phones */
  @media only screen and (max-width: 600px) {
   .exam-result {
      margin: 20px;
      padding: 10px;
    }
  
   .marksheet {
      margin-bottom: 10px;
      padding: 10px;
    }
  
   .student-info p {
      font-size: 14px;
    }
  
   .marks-table th,.marks-table td {
      padding: 5px;
      font-size: 14px;
    }
  }